<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>&#332;kami Sanctions Solutions</title>
    <link rel='stylesheet' type='text/css' href='css/styles.css' media='screen' />
  </head>
  <style>
  #section-title, #section p {
      position: relative;
      left: 20vw;
      max-width: 50vw;

  }

  #section-paragraph {
    text-align: left;
  }

  #section {
    top: 25vh;
    left: 0;
    height: 35vh;
    padding: 15px;
    position: absolute;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('photo/skyscraper.jpg');
    width: 100%;
    text-align: left;
  }

  #logo-name {
    position: relative;
    float: left;
    color: #00BDFF;
    font-size: 40px;
    margin-left: 15px;
    transition: all 1s;
    top:-15px;
  }
  #logo-name:hover {
    color: #FFFFFF;
  }

  #menu ul
  {
    position: relative;
    top: -20px;
  }
  body {
    background-color: black;
    max-width: 100%;

  }
  </style>
  <body>
    {{> title}}
    {{> navbar}}
    <div id='section'>
    <h1 id="section-title"><i>About &#332;kami</i></h1>
      <p id="section-paragraph">&#332;kami is an easy-to-use sanctions tool which allows financial institutions (FIs)
        and non-FIs to search for information on individuals and entities listed by the U.S. Treasury, State and Commerce Departments,
        specifically the agencies of the <i> Office of Foreign Assets Control (OFAC), Bureau of Industry and Security (BIS), Bureau of International
        Security and Non-Profileration and the Directorate of Defense Trade Controls.</i>
      </p>
      <p>Financial and trade sanctions have affected numerous FIs and non-FIs over the years, resulting in millions of dollars in penalties as a consequence
        of not being in compliant with government regulations. Tools such as &#332;kami help keep firms stay in compliance.
      </p>
    </div>
  </body>
</html>
