<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>&#332;kami Sanctions Solutions</title>
    <link rel='stylesheet' type='text/css' href='css/styles.css' media='screen' />
    <link href="./bootstrap-design/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="./bootstrap-design/scrolling-nav.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Archivo:400,500,600,700" rel="stylesheet">
  </head>
  <style>
        :root {
        --input-padding-x: 1.5rem;
        --input-padding-y: .75rem;
        }

        section.pricing {
        background: linear-gradient(to right, #00516E, #566C74);
        }

        .card-signin {
        border: 0;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        }

        .card-signin .card-title {
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 1.5rem;
        }

        .card-signin .card-body {
        padding: 2rem;
        }

        .form-signin {
        width: 100%;
        }

        .form-signin .btn {
        font-size: 80%;
        border-radius: 5rem;
        letter-spacing: .1rem;
        font-weight: bold;
        padding: 1rem;
        transition: all 0.2s;
        }

        .form-label-group {
        position: relative;
        margin-bottom: 1rem;
        }

        .form-label-group input {
        height: auto;
        border-radius: 2rem;
        }

        .form-label-group>input,
        .form-label-group>label {
        padding: var(--input-padding-y) var(--input-padding-x);
        }

        .form-label-group>label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0;
        /* Override default `<label>` margin */
        line-height: 1.5;
        color: #495057;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease-in-out;
        }

        .form-label-group input::-webkit-input-placeholder {
        color: transparent;
        }

        .form-label-group input:-ms-input-placeholder {
        color: transparent;
        }

        .form-label-group input::-ms-input-placeholder {
        color: transparent;
        }

        .form-label-group input::-moz-placeholder {
        color: transparent;
        }

        .form-label-group input::placeholder {
        color: transparent;
        }

        .form-label-group input:not(:placeholder-shown) {
        padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
        padding-bottom: calc(var(--input-padding-y) / 3);
        }

        .form-label-group input:not(:placeholder-shown)~label {
        padding-top: calc(var(--input-padding-y) / 3);
        padding-bottom: calc(var(--input-padding-y) / 3);
        font-size: 12px;
        color: #777;
        }

        .btn-google {
        color: white;
        background-color: #ea4335;
        }

        .btn-facebook {
        color: white;
        background-color: #3b5998;
        }

        .card {
        width: 30em;
        }

        #addButton {
        height:100%;
        background-color: #00BDFF;
        border-color: #00BDFF;
        }

        #addButton:hover {
        background-color: grey;
        border-color: grey;
        }

        #searchForm {
        padding: 5px;
        }

        #searchButton {
        height: 100%;
        }

        #removeAllButton {
        height: 100%;
        background-color: red;
        border-color: red;
        }

        #removeAllButton:hover {
        background-color:#9B0000;
        border-color: #9B0000;
        }

        .search-name {
        padding: 5px;
        }
        #searchList{
        list-style-type: decimal;
        color: black;
        }

        .btn-search-name {
        background: grey;
        border-color: grey;
        height:100%;
        font-size:12px;
        }

        body {
        background: linear-gradient(to right, #00BDFF, #008BFF);
      }


  </style>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/"><b>&#332;kami</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/results-test">Regular Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/profiletest">My Account</a>
            </li>
            <li id="signout" class="nav-item">
              <a class="nav-link js-scroll-trigger">Sign Out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
  <div class="row">
    <div class=" mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h2 class="text-center"><b>Batch Search</b></h2>
          <form id="inputSearch" class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input id="search-input" name="search-input" type="text" class="form-control form-control-lg" placeholder="Search individual or entity..." autocomplete="off">
              </div>
              <div class="col-12 col-md-3">
                <button for="search-input"id="addButton" type="submit" class="btn btn-block btn-lg btn-primary">Add</button>
              </div>
          </form>
          <div id="searchForm" class="form-row">
            <button id="removeAllButton" type="button" class="btn btn-block btn-lg btn-primary">Remove All</button>
          </div>
          <div id="searchForm" class="form-row">
            <button id="searchButton" type="submit" class="btn btn-block btn-lg btn-primary">Search Batch</button>
          </div>
          <h5><b>Batch List</b></h5>
          <p id="listMessage"><i>The following names will be searched (maximum of 15): </i></p>
          <ul id="searchList">
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
  </body>

  <script src='functions/batchsearch.js'></script>

</html>
