<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>&#332;kami Sanctions Solutions</title>
    <link rel='stylesheet' type='text/css' href='css/styles.css' media='screen' />
  </head>
  <style>
  #section-title, #section p {
      position: relative;
      left: 20vw;
      max-width: 50vw;

  }

  #section-paragraph {
    text-align: left;
  }

  #section {
    top: 25vh;
    left: 0;
    padding: 15px;
    position: absolute;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('photo/skyscraper.jpg');
    width: 100%;
    text-align: left;
  }

  #logo-name {
    position: relative;
    float: left;
    color: #00BDFF;
    font-size: 40px;
    margin-left: 15px;
    transition: all 1s;
    top:-15px;
  }
  #logo-name:hover {
    color: #FFFFFF;
  }

  #menu ul
  {
    position: relative;
    top: -20px;
  }
  body {
    background-color: black;
    max-width: 100%;

  }
  </style>
  <body>
    {{> title}}
    {{> navbar}}
    <div id='section'>
    <h1 id="section-title"><i>Contact &#332;kami</i></h1>
      <p>Allister Bernal started builidng &#332;kami in 2018 while learning how to code. Having had a background in financial risk and compliance, Bernal decided to build an
        easy-to-use sanctions tool to reinforce concepts he learned while programming, as well as applying his previous bakground. He has worked as a researcher and analyst
        for a couple financial institutions including the Bank of Tokyo-Mitsubishi and Visa. He loves to learn and
        is currently transitioning into software development.
      </p>
      <p id="section-paragraph">For any questions and/or feedback, please contact us at ageebernal@aol.com.</i>
      </p>
  </body>
</html>
