<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>&#332;kami Sanctions Solutions</title>
    <link rel='stylesheet' type='text/css' href='css/styles.css' media='screen' />
    <link rel='stylesheet' type='text/css' href='css/results.css' media='screen' />
  </head>
  <style>
  #section-title, #section p {
      position: relative;
      left: 20vw;
      max-width: 50vw;

  }

  #section-paragraph {
    text-align: left;
  }

  #section {
    top: 25vh;
    left: 0;
    padding: 15px;
    position: absolute;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('photo/skyscraper.jpg');
    width: 100%;
    text-align: left;
  }

  #logo-name {
    position: relative;
    float: left;
    color: #00BDFF;
    font-size: 40px;
    margin-left: 15px;
    transition: all 1s;
    top: -23px;
  }
  #logo-name:hover {
    color: #FFFFFF;
  }

  form {
    float: left;
    padding-left: 12px;
    top:-23px;
  }

  #menu ul
  {
    position: relative;
    top: -20px;
  }

  header {
    background-color: black;
    width: 100%;
    height: 3em;
    padding-top: 1vh;
  }

  body {
    background-color: white;
    color: black;

  }
/*CSS styles from CarmenSS.html*/



  </style>
  <body>
    <header>
    {{> title}}
    <form id="searchName">
      <input type="textarea" placeholder=' Search entity or individual here' id='searchInput' /required>
      <button type='submit'for='search'>Search</button>
    </form>
    {{> navbar}}
  </header>
  <p id='resultsMessage'>No results found</p>
  <div id ="resultsSection">
  <div id="displayResults">
    <table id='table-results'>
      <thead id='table-headers'>
        <th>Name</th>
        <th>SDN Type</th>
        <th>Query</th>
      </thead>

    </table>
  <div id='scrollList'>
    <table id="listResults">
    </table>
  </div>
    </div>
  <div id='profile'>
    <ul id='details'></ul>
    <table id='identifications'>
    </table>
    <table id='aliases'>
    </table>
    <table id='addresses'>
    </table>
  </div>
</div>
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="functions/results.js"></script>
</html>
