<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>&#332;kami Sanctions Solutions</title>
    <link rel='stylesheet' type='text/css' href='css/styles.css' media='screen' />
    <link rel='stylesheet' type='text/css' href='css/results.css' media='screen' />
  </head>
  <style>


  #logo-name {
    position: relative;
    float: left;
    color: #00BDFF;
    font-size: 40px;
    margin-left: 15px;
    transition: all 1s;
    top: -23px;
  }

  #logo-name:hover {
    color: #FFFFFF;
  }

  form {
    float: left;
    position: relative;
    margin-top:-10px;
  }

  #menu ul
  {
    position: relative;
    top: -20px;
  }

  #profile table {
    margin-left: 15px;
    margin-top: 15px;
  }


  body {
    background-image: linear-gradient(135deg, #00BDFF, grey);
    height: 100vh;

  }

  footer {
    margin-top: 5vh;
    margin-left: 2%;
    font-size: 10px;
  }



  </style>
  <body>
    <header>
    {{> title}}
    <form id="searchName">
      <input type="textarea" placeholder=' Search entity or individual here' id='searchInput' autocomplete="off" /required>
      <button type='submit'for='search'>Search 🔍</button>
    </form>
    {{> navbar}}
  </header>
  <p id='resultsMessage'><i>Searching for results</i></p>
  <div id ="resultsSection">
  <div id="displayResults">
    <div id="table-top">
    <table id='table-results'>
      <thead id='table-headers'>
        <th id="name-header">Name</th>
        <th>Type</th>
        <th>Sanctions Program</th>
        <th id='query-header'>Query</th>
      </thead>

    </table>
  </div>
  <div id='scrollList'>
    <table id="listResults">
    </table>
  </div>
    </div>
  <div id='profile'>
    <ul id='details'>
      <p>Please select a result hit.</p>
    </ul>
    <table id='identifications'>
    </table>
    <table id='aliases'>
    </table>
    <table id='addresses'>
    </table>
    <p id='source'></p>
  </div>
</div>
  <footer>&#332;kami Sanctions Solutions - Copyright 2018 by Allister Bernal</footer>
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="functions/results.js"></script>
</html>
