#listResults, #results {
  visibility: hidden;
  transition: all 1s;
}
#listResults, #table-results {
  visibility: visible;
  position: relative;
}
#displayResults {
  width: 48%;
  text-align: center;
  float: left;
  margin-left: 1%;
  height: 100%;
  opacity: 0.8;
}

#scrollList {
  width: 100%;
  height: 95%;
  overflow-y: auto;
  background-color:#282828;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#listResults, #table-results{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: auto;
  color: white;
  transition: all 5s;
  z-index: 0;
  table-layout: fixed;
}


#scrollList tr:hover td{
  background: #4783FC;
  cursor: pointer;
}

#scrollList td, #table-results th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
  background-color: #282828;
  transition: all 0.5s;
  border: none;
  border-bottom: 2px dotted grey;
}

#table-results th{
  background-color: #202020;
  text-align: center;
  border: none;
  font-weight: normal;
}

#message {
  height: 50%;
  width: 100%;
  visibility: hidden;
  text-align: center;
}

#message p {
  margin: 0px;
  padding: 15px;
  font-weight: bold;
}
#message{
  visibility: visible;
}
#dashboard {
  display: inline-block;
  width: 100%;
}

#profile {
  height: 100%;
  width: 48%;
  float: right;
  visibility: visible;
  text-align: center;
  margin-left: 5px;
  background-color: black;
  margin-right: 1%;
  border-radius: 20px;
  opacity: 0.8;

}
#searchResults {
  float: left;
  width: 50%;
}


#profile ul {
  list-style-type: none;
  padding: 0;
  border-top: 10px;
  border-bottom: 10px;
  border-color: black;
  border-style: solid;
  border-left: 0px;
  border-right: 0px;
}
#profile img{
  position: relative;
  width: 100px;
  float: right;
  background-color: white;
  border-radius: 25%;
}
#profile ul, table {
  width: 90%;
  text-align: left;
  padding-left: 20px;

}
#profile table{
  border-collapse: collapse;
}
#profile thead {
  background-color: black;

}

#resultsSection {
display: inline-block;
}

#listResults tbody{
  font-size: 12px;
}
#resultsSection{
  height: 80vh;
}
#table-top {
  height: 5%;
}

#name-header {
  border-top-left-radius: 20px;
}
#query-header {
  border-top-right-radius: 20px;
}
header {
  background-color: black;
  width: 100%;
  height: 3em;
  padding-top: 1vh;
}

body {
  background-color: blue;
}
